@model UVGProject.Models.CoursesSingleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item disabled">
            Cursos
        </li>
        @foreach (UVGProject.Models.Curso item in Model.Cursos)
        {
            if (item.ID == Model.SelectedID.Value)
            {
                <li class="list-group-item list-group-item-info">
                    @Html.ActionLink(item.Codigo + " - " + item.Descripcion, "Details", new { id = item.ID })
                </li>
            }
            else
            {
                <li class="list-group-item">
                    @Html.ActionLink(item.Codigo + " - " + item.Descripcion, "Details", new { id = item.ID })
                </li>
            }
        }
    </ul>
</div>

<div class="col-md-8">
    <ul class="list-group">
        <li class="list-group-item disabled">
            Recursos
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Artículos", "Articulos", new { id = Model.SelectedID.Value })
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Videos", "Videos", new { id = Model.SelectedID.Value })
        </li>
    </ul>
</div>
