<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Portal Académico - Perfil</title>
    <meta name="description" content="Portal académico de UVG">
    <meta name="author" content="UVG">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="static/styles/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="l-box">
    <script src="static/scripts/main.js"></script>
    <div class="login pure-g align-right">
        <div class="pure-u-3-4">
            <form class="pure-form">
                <input type="email" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">

                <label for="remember">
                    <input id="remember" type="checkbox"> Recordar
                </label>

                <button class="pure-button button-success">
                    <i class="fa fa-plus"></i>
                    Registrarse
                </button>
                <button type="submit" class="pure-button pure-button-primary">Ingresar</button>
            </form>
        </div>
    </div>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="perfil">Perfil</a></li>
            <li class="pure-menu-selected"><a href="#">Cursos</a></li>
            <li><a href="cursosarchivo">Archivos</a></li>
            <li><a href="calendar.html">Calendario</a></li>
        </ul>
    </div>
    <br />
    <div class="col-md-12 column">
        <div class="col-md-4 column">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="panel-group" id="panel-990421">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-990421" href="#panel-element-117527">Clasificación</a>
                                </div>
                                <div id="panel-element-117527" class="panel-collapse collapse">
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-990421" href="#panel-element-264382">Semestre 1</a>
                                </div>
                                <div id="panel-element-264382" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Programación Basica
                                        <div>
                                            Sociologia
                                        </div>
                                        <div>
                                            Taller de la carrera
                                        </div>
                                        <div>
                                            Psicologia
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="panel-756811">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756811" href="#panel-element-292174">Semestre 2</a>
                                </div>
                                <div id="panel-element-292174" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Calculo 1
                                        <div>
                                            Fisica 1
                                        </div>
                                        <div>
                                            Ciencias de la Vida
                                        </div>
                                        <div>
                                            Química General
                                        </div>
                                        <div>
                                            Taller de Assembler
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756811" href="#panel-element-95006">Semestre 3</a>
                                </div>
                                <div id="panel-element-95006" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Cálculo 2
                                        <div>
                                            Fisica 2
                                        </div>
                                        <div>
                                            Algebra Lineal
                                        </div>
                                        <div>
                                            Assembler
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="panel-457353">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-457353" href="#panel-element-962436">Semestre 4</a>
                                </div>
                                <div id="panel-element-962436" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Programación Orientada a Objetos
                                        <div>
                                            Compiladores 1
                                        </div>
                                        <div>
                                            Historia
                                        </div>
                                        <div>
                                            Base de Datos
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-457353" href="#panel-element-83083">Semestre 5</a>
                                </div>
                                <div id="panel-element-83083" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Etica Profesional
                                        <div>
                                            Sistemas Operativos
                                        </div>
                                        <div>
                                            Compiladores 2
                                        </div>
                                        <div>
                                            Tecnologia Eficaz
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 column container">
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li class="pure-menu-selected"><a href="#">Video</a></li>
                    <li><a href="cursosarchivo">Archivos</a></li>
                    <li><a href="cursos-blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="">
                <div class="pure-u-2-3">
                    <h1>Python</h1>
                    <embed width="440" height="220"
                           src="http://www.youtube.com/v/cpPG0bKHYKc">
                </div>

            </div>
            <ul class="">
                @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="FileUpload" />
                    <input type="submit" name="Submit" id="Submit" value="Upload" />
                }
            </ul>

            <br />
            <ul class="pure-menu no-style">
                <li><a href="#">link1</a></li>
                <li><a href="#">link2</a></li>
                <li><a href="#">link3</a></li>
            </ul>

        </div>

    </div>
    <div class="col-md-4 column">
        <div class="pure-u-1-3 ">

        </div>
    </div>
</body>
</html>
