@model UVGProject.Models.VideoSingleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item disabled">
            Cursos
        </li>
        @foreach (UVGProject.Models.Curso item in Model.Cursos)
        {
            if (Model.SelectedID.HasValue && (item.ID == Model.SelectedID.Value))
            {
                <li class="list-group-item list-group-item-info">
                    @Html.ActionLink(item.Codigo + " - " + item.Descripcion, "Details", "Cursoes", new { id = item.ID }, null)
                </li>
            }
            else
            {
                <li class="list-group-item">
                    @Html.ActionLink(item.Codigo + " - " + item.Descripcion, "Details", "Cursoes", new { id = item.ID }, null)
                </li>
            }
        }
    </ul>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.ActionLink(Model.VideoActual.Titulo, "Details", new { id = Model.SelectedID })
        </div>
        <div class="panel-body">
            <iframe width="640" height="360" src="//www.youtube.com/embed/@Model.VideoActual.Link?rel=0&amp;showinfo =0"
                    frameborder="0" allowfullscreen=""></iframe>            
        </div>
    </div>
</div>
